
    <div class="transaction-form" id="expenseForm">

        <div class="close-form" onclick="closeForm('expense-btn')">
            <i class="fa-thin fa-x close-sign"></i>
        </div>

        <form action="">

            <div class="form-row">
                <div class="column">
                    <input type="text" placeholder="Enter amount of expense">
                </div>
                <div class="column">
                    <input type="text" placeholder="Amount paid to ">
                </div>
            </div>


            <div class="form-row">
                <div class="column">
                    <input type="text" placeholder="Remark" class="remark-field">
                </div>
            </div>

            <div class="form-row">
                <div class="column">
                    <input type="submit" value="Add to Expense">
                </div>
            </div>
        </form>
    </div>