<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<div class="wrapper">
    <div class="sidebar">
        <h2>Expense Tracker</h2>
        <div class="user-info">
            <img src="https://media.licdn.com/dms/image/D5635AQGWmUVHCZxXYg/profile-framedphoto-shrink_400_400/0/1697718412884?e=1709802000&v=beta&t=CGF8ITkW-oJwKUIF7DiksDd6ZXehxtfAizL99djn-38"
                 alt="" class="user-profile">
            <p class="user-name">Ranjan Thapa</p>

        </div>
        <hr>
        <ul>
            <li><a href="{{ url_for('home') }}"><i class=" fas fa-solid fa-chart-line"></i> Dashboard</a></li>
            <li><a href="{{ url_for("income") }}"><i class="fas fa-solid fa-money-bill"></i> Income</a></li>
            <li><a href="{{ url_for('transaction') }}"><i class="fas fa-solid fa-hand-holding-hand"></i> Transaction</a>
            </li>
            <li><a href="{{ url_for('edit_profile') }}"><i class="fas fa-solid fa-user"></i> Edit profile</a></li>
            <li><a href="{{ url_for("register") }}"><i class="fas fa-solid fa-address-card"></i> Register</a></li>
            <li><a href="{{ url_for("login") }}"><i class="fas fa-solid fa-right-from-bracket"></i> Login</a></li>
            <li><a href="#"><i class="fas fa-solid fa-right-from-bracket"></i> Logout</a></li>
        </ul>
    </div>

</div>