
    <div class="sub-head">
        <h2>{{ page_name }}</h2>
        <div class="add-transaction-btn">
            <a href="#" class="btn-transaction income-btn" onclick="openForm('income-btn')"><i class=" fa-light fa-plus"></i> Add Income</a>
            <a href="#" class="btn-transaction expense-btn" onclick="openForm('expense-btn')"><i class="fa-light fa-plus"></i> Add Expenses</a>
        </div>
    </div>

    <!-- Income Form -->

    {% include 'include/income-form.html' %}

    <!-- Expense Form -->

    {% include 'include/expense-form.html' %}