.wrapper {
    display: flex;
    position: relative;
}

.wrapper, .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #4b4276;
    padding: 20px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.user-info {
    color: #bdb8d7;
    font-size: 20px;
    padding: 15px;
}

.user-info .user-profile {
    border-radius: 50%;
    width: 150px;

}

.user-info .user-name {
    margin: 5px 0px 0px 0px;
}

.sidebar hr {
    border: 1px inset #ffffff;;
    opacity: 0.5;
    height: 1px;
}

ul{
    padding-left: 0px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #594f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}