{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}

{% block content %}
    {% with page_name="Dashboard" %}
        {% include 'include/top-nav.html' %}
    {% endwith %}



    {% include 'include/message.html' %}

    <div class="sht-transaction-details">

        <div class=" transaction-detail">
            <i class="fa-solid fa-wallet sign" style="color: #22ae0f;"></i>

            <div>
                <span style="font-weight: bold">Income</span>
                <p class="amount">Rs {{ context_data['total_income'] }}</p>
            </div>
        </div>


        <div class="transaction-detail">
            <i class="fa-solid fa-circle-arrow-down sign" style="color: #63E6BE;"></i>
            <div>
                <span style="font-weight: bold">To Receive</span>
                <p class="amount">Rs 35000</p>
            </div>
        </div>

        <div class=" transaction-detail">
            <i class="fa-solid fa-circle-arrow-down fa-rotate-180 sign" style="color: #f56161;"></i>
            <div>
                <span style="font-weight: bold">To Pay</span>
                <p class="amount">Rs 35000</p>
            </div>
        </div>

        <div class=" transaction-detail">
            <i class="fa-solid fa-hand-holding-dollar sign" style="color: #74C0FC;"></i>
            <div>
                <span style="font-weight: bold">Total Receive</span>
                <p class="amount">Rs 35000</p>
            </div>
        </div>

        <div class=" transaction-detail">
            <i class="fa-solid fa-hand-holding-hand sign" style="color: #B197FC;"></i>

            <div>
                <span style="font-weight: bold">Expenses</span>
                <p class="amount">Rs {{ context_data['total_expense'] }}</p>
            </div>
        </div>

    </div>



    <div class="transaction-info">
        <h5>Recent Transactions</h5>
    </div>
    <div class="transaction-table">
        <table>
            <tr>
                <th>Entry Date</th>
                <th>Transaction Date</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Source</th>
                <th>Paid To</th>
                <th>Remark</th>
            </tr>
            {% for transaction in recent_transactions %}
                <tr>
                    <td>{{ transaction.entry_date }}</td>
                    <td>
                        {% if transaction.receive_date %}
                            {{ transaction.receive_date }}
                        {% elif transaction.paid_date %}
                            {{ transaction.paid_date }}
                        {% endif %}
                    </td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.amount }}</td>

                    {% if not transaction.source %}
                        <td>--</td>
                    {% else %}
                        <td>{{ transaction.source }}</td>
                    {% endif %}

                    {% if not transaction.paid_to %}
                        <td>--</td>
                    {% else %}
                        <td>{{ transaction.paid_to }}</td>
                    {% endif %}

                    <td>{{ transaction.remark }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}