{% extends 'base.html' %}
{% block title %}
    Income
{% endblock title %}

{% block content %}


    {% with page_name="Income" %}
        {% include 'include/top-nav.html' %}
    {% endwith %}

    <div class="income-info">
        <h5>Current Balance: Nrs {{ total_income  }}</h5>
    </div>
    <div class="income-table">
        <table>
            <tr>
                <th>Entry Date</th>
                <th>Receive Date</th>
                <th>Amount</th>
                <th>Source</th>
                <th>Remark</th>
            </tr>
            {% for income in income_list %}
            <tr>
                <td>{{ income.entry_date }}</td>
                <td>{{ income.receive_date }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.source }}</td>
                <td>{{ income.remark }} </td>
            </tr>
            {% endfor %}


        </table>
    </div>
{% endblock content %}