{% extends 'base.html' %}

{% block content %}

<div class="login-form">
    <div class="head">
        <h2>Login</h2>
    </div>

    <form action="">
        <div class="form-row">
            <div class="column">
                <input type="email" placeholder="Enter your email">
            </div>
        </div>
        <div class="form-row">
            <div class="column">
                <input type="email" placeholder="Enter the password">
            </div>
        </div>



        <div class="form-row">
            <div class="column">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>

</div>


{% endblock content %}