{% extends 'base.html' %}

{% block content %}

    {% include 'include/message.html' %}

<div class="registration-form">
    <div class="head">
        <h2>Registration</h2>
    </div>

    <form action="{{ url_for('register') }}" method="post" enctype=multipart/form-data >
        <div class="form-row">
            <div class="column">
                <input type="email" placeholder="Enter your email" name="email">
            </div>
            <div class="column">
                <input type="text" placeholder="Enter your phone number" name="phone">
            </div>
        </div>

        <div class="form-row">
            <div class="column">
                <input type="text" placeholder="Enter your full name" name="full_name">
            </div>
        </div>

        <div class="form-row">
            <div class="column">
                <input type="password" placeholder="Enter the password" name="password">
            </div>
            <div class="column">
                <input type="password" placeholder="Confirm the password" name="confirm_password">
            </div>
        </div>

        <div class="form-row">
            <div class="column">
                <label for="">Choose profile picture</label>
                <input type="file" id="getImage" name="profile_picture">
            </div>
        </div>

        <div class="form-row">
            <div class="column">
                <input type="submit" value="Register">
            </div>
        </div>
    </form>

</div>

{% endblock content %}
