{% extends 'base.html' %}
{% block title %}
    Transaction
{% endblock title %}

{% block content %}


    {% with page_name="Transaction" %}
        {% include 'include/top-nav.html' %}
    {% endwith %}

    <div class="income-info">
        <h5>Total Transaction: Nrs 200,000</h5>
    </div>

    <div class="income-table">
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Source</th>
                <th>Remark</th>
            </tr>
            <tr>
                <td>2024-dec-13</td>
                <td>23300</td>
                <td>Sale</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci beatae commodi cumque
                    dolore eos in ipsam natus nisi sapiente? Aliquid magni non sint vero?
                </td>
            </tr>



            <tr>
                <td>2024-dec-13</td>
                <td>23300</td>
                <td>Sale</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci beatae commodi cumque
                    dolore eos in ipsam natus nisi sapiente? Aliquid magni non sint vero?
                </td>
            </tr><tr>
                <td>2024-dec-13</td>
                <td>23300</td>
                <td>Sale</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci beatae commodi cumque
                    dolore eos in ipsam natus nisi sapiente? Aliquid magni non sint vero?
                </td>
            </tr><tr>
                <td>2024-dec-13</td>
                <td>23300</td>
                <td>Sale</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci beatae commodi cumque
                    dolore eos in ipsam natus nisi sapiente? Aliquid magni non sint vero?
                </td>
            </tr><tr>
                <td>2024-dec-13</td>
                <td>23300</td>
                <td>Sale</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci beatae commodi cumque
                    dolore eos in ipsam natus nisi sapiente? Aliquid magni non sint vero?
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}