{% extends 'base.html' %}
{% block title %}
    Transaction
{% endblock title %}

{% block content %}


    {% with page_name="Transaction" %}
        {% include 'include/top-nav.html' %}
    {% endwith %}

    <div class="income-info">
        <h5>Total Money Outflow: Nrs {{ total_expense }}</h5>
    </div>

    <div class="income-table">
        <table>
            <tr>
                <th>Entry Date</th>
                <th>Paid Date</th>
                <th>Amount</th>
                <th>Paid To</th>
                <th>Remark</th>
            </tr>
            {% for expense in expense_list %}
            <tr>
                <td>{{ expense.entry_date }}</td>
                <td>{{ expense.paid_date }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.paid_to }}</td>
                <td>{{ expense.remark }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}